.siu-wrapper {
  padding-bottom: 8rem;
  background-color: #fafafa;
}
.siu-wrapper--crimson {
  background: #701b02;
  background-image: linear-gradient(135deg, #701b02 10%, #a52500);
}
.siu-current-status {
  margin-top: -6rem;
}
.siu-notice-content {
  margin-top: 2rem;
}
.siu-notice {
  display: flex;
  align-items: center;
}
.siu-notice__icon {
  line-height: 1.1;
}
.siu-notice__icon--danger {
  color: #df3603;
}
.siu-notice__icon--warning {
  color: #f5bb17;
}
.siu-notice__icon--info {
  color: #006298;
}
.siu-notice__icon--success {
  color: #008a28;
}
.siu-notice__body {
  margin-left: 1rem;
}
.siu-main-nav {
  display: flex;
  padding-top: 2.5rem;
  padding-left: 0.25rem;
}
.siu-main-nav__list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  display: flex;
}
.siu-main-nav__item {
  padding: 0.5rem 0;
  margin: 0;
  font-weight: 700;
  font-size: 0.875rem;
}
.siu-main-nav__item a {
  text-decoration: none;
}
.siu-main-nav__item svg {
  color: #95adcb;
}
.siu-main-nav__item--last {
  margin-left: auto;
}
.siu-main-nav__item[aria-current] {
  box-shadow: 0 0.125rem 0 #fff;
}
.siu-main-nav__item:not(:last-child) {
  margin-right: 1rem;
}
.siu-wrapper--crimson .siu-main-nav__item a,
.siu-wrapper--crimson .siu-main-nav__item svg {
  color: #fff;
}
@media screen and (min-width: 46.25em) {
  .siu-main-nav__item {
    font-size: 1rem;
  }
  .siu-main-nav__item:not(:last-child) {
    margin-right: 2rem;
  }
}
.siu-matrix {
  overflow-x: scroll;
}
.siu-matrix__campus-status {
  text-align: center;
  border-right: 1px solid #ddd;
}
.siu-matrix__campus-status:last-child {
  border-right: none;
}
.siu-matrix__campus-status--success {
  color: #008a28;
}
.siu-matrix__campus-status--danger {
  color: #df3603;
}
.siu-matrix__group-child {
  background-color: #fafafa;
}
@media screen and (min-width: 900px) {
  .siu-matrix {
    overflow-x: auto;
  }
}
.siu-key {
  list-style: none;
  margin: 0;
  padding: 0;
}
.siu-key__item {
  display: flex;
  align-items: center;
}
.siu-key__item:not(:last-child) {
  margin-right: 1.5rem;
}
.siu-key__icon {
  line-height: 1.1;
  margin-right: 0.25rem;
  color: #777;
}
.siu-key__icon--danger {
  color: #df3603;
}
.siu-key__icon--warning {
  color: #f5bb17;
}
.siu-key__icon--success {
  color: #008a28;
}
@media screen and (min-width: 46.25em) {
  .siu-key {
    display: flex;
  }
}

/*! rivet-uits - @version v1.1.0 */
/*!
 * Pikaday
 * Copyright © 2014 David Bushell | BSD & MIT license | https://dbushell.com/
 */
.pika-single {
  z-index: 13;
  display: block;
  position: relative;
  color: #333;
  background: #fff;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
.pika-single.is-hidden {
  display: none;
}
.pika-single.is-bound {
  position: absolute;
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.5);
}
.pika-single {
  *zoom: 1;
}
.pika-single:after,
.pika-single:before {
  content: " ";
  display: table;
}
.pika-single:after {
  clear: both;
}
.pika-lendar {
  float: left;
  width: 240px;
  margin: 8px;
}
.pika-title {
  position: relative;
  text-align: center;
}
.pika-title select {
  cursor: pointer;
  position: absolute;
  z-index: 12;
  margin: 0;
  left: 0;
  top: 5px;
  filter: alpha(opacity=0);
  opacity: 0;
}
.pika-label {
  display: inline-block;
  *display: inline;
  position: relative;
  z-index: 13;
  overflow: hidden;
  margin: 0;
  padding: 5px 3px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: #333;
  background-color: #fff;
}
.pika-next,
.pika-prev {
  display: block;
  cursor: pointer;
  position: relative;
  outline: none;
  border: 0;
  padding: 0;
  width: 20px;
  height: 30px;
  text-indent: 20px;
  white-space: nowrap;
  overflow: hidden;
  background-color: transparent;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 75% 75%;
  opacity: 0.5;
  *position: absolute;
  *top: 0;
}
.pika-next:hover,
.pika-prev:hover {
  opacity: 1;
}
.pika-next.is-disabled,
.pika-prev.is-disabled {
  cursor: default;
  opacity: 0.2;
}
.is-rtl .pika-next,
.pika-prev {
  float: left;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAUklEQVR42u3VMQoAIBADQf8Pgj+OD9hG2CtONJB2ymQkKe0HbwAP0xucDiQWARITIDEBEnMgMQ8S8+AqBIl6kKgHiXqQqAeJepBo/z38J/U0uAHlaBkBl9I4GwAAAABJRU5ErkJggg==");
  *left: 0;
}
.is-rtl .pika-prev,
.pika-next {
  float: right;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAU0lEQVR42u3VOwoAMAgE0dwfAnNjU26bYkBCFGwfiL9VVWoO+BJ4Gf3gtsEKKoFBNTCoCAYVwaAiGNQGMUHMkjGbgjk2mIONuXo0nC8XnCf1JXgArVIZAQh5TKYAAAAASUVORK5CYII=");
  *right: 0;
}
.pika-select {
  display: inline-block;
  *display: inline;
}
.pika-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 0;
}
.pika-table td,
.pika-table th {
  width: 14.285714285714286%;
  padding: 0;
}
.pika-table th {
  color: #999;
  font-size: 12px;
  line-height: 25px;
  font-weight: 700;
  text-align: center;
}
.pika-table abbr {
  border-bottom: none;
  cursor: help;
}
.pika-button {
  cursor: pointer;
  display: block;
  box-sizing: border-box;
  outline: none;
  border: 0;
  margin: 0;
  width: 100%;
  padding: 5px;
  color: #666;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  background: #f5f5f5;
}
.is-today .pika-button {
  color: #3af;
  font-weight: 700;
}
.is-selected .pika-button {
  color: #fff;
  font-weight: 700;
  background: #3af;
  box-shadow: inset 0 1px 3px #178fe5;
  border-radius: 3px;
}
.is-disabled .pika-button,
.is-outside-current-month .pika-button {
  color: #999;
  opacity: 0.3;
}
.is-disabled .pika-button {
  pointer-events: none;
  cursor: default;
}
.pika-button:hover {
  color: #fff;
  background: #ff8000;
  box-shadow: none;
  border-radius: 3px;
}
.pika-button .is-selection-disabled {
  pointer-events: none;
  cursor: default;
}
.pika-week {
  font-size: 11px;
  color: #999;
}
.is-inrange .pika-button {
  background: #d5e9f7;
}
.is-startrange .pika-button {
  color: #fff;
  background: #6cb31d;
  box-shadow: none;
  border-radius: 3px;
}
.is-endrange .pika-button {
  color: #fff;
  background: #3af;
  box-shadow: none;
  border-radius: 3px;
}
.rivet-theme {
  font-family: inherit;
  margin-top: 0.5rem;
  border: none;
}
.rivet-theme.pika-single.is-bound {
  box-shadow: none;
}
.rivet-theme .pika-lendar {
  border: 0.0625rem solid #ddd;
  border-radius: 0.25rem;
  padding: 1rem;
  margin: 0;
  width: auto;
}
.rivet-theme .pika-next:hover,
.rivet-theme .pika-prev:hover {
  background-color: #dce3ee;
}
.rivet-theme .pika-next,
.rivet-theme .pika-prev {
  border-radius: 0.25rem;
}
.rivet-theme .pika-next {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE2IDE2Ij4KICAgIDxwYXRoIGZpbGw9ImN1cnJlbnRDb2xvciIgZD0iTTUuNSwxNWExLDEsMCwwLDEtLjc3LTEuNjRMOS4yLDgsNC43MywyLjY0QTEsMSwwLDAsMSw2LjI3LDEuMzZMMTEuMTMsNy4yYTEuMjUsMS4yNSwwLDAsMSwwLDEuNjFMNi4yNywxNC42NEExLDEsMCwwLDEsNS41LDE1Wk05LjYsOC40OGgwWm0wLTFoMFoiLz4KPC9zdmc+");
}
.rivet-theme .pika-prev {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE2IDE2Ij4KICAgIDxwYXRoIGZpbGw9ImN1cnJlbnRDb2xvciIgZD0iTTEwLjUsMTVhMSwxLDAsMCwxLS43Ny0uMzZMNC44Nyw4LjhhMS4yNSwxLjI1LDAsMCwxLDAtMS42MUw5LjczLDEuMzZhMSwxLDAsMCwxLDEuNTQsMS4yOEw2LjgsOGw0LjQ3LDUuMzZBMSwxLDAsMCwxLDEwLjUsMTVaTTYuNDEsOC40N2gwWm0wLTFoMFoiLz4KPC9zdmc+");
}
.rivet-theme .pika-next,
.rivet-theme .pika-prev {
  background-size: 75%;
}
.rivet-theme .pika-button {
  background-color: #fff;
  color: #333;
  display: inline-block;
  text-align: center;
  border-radius: 0;
  padding: 0.5rem;
}
.rivet-theme .pika-button:hover,
.rivet-theme .pika-row.pick-whole-week:hover .pika-button {
  background-color: #dce3ee;
  color: #333;
  border-radius: 0;
}
.rivet-theme .pika-button:focus,
.rivet-theme .pika-row.pick-whole-week:hover .pika-button {
  background-color: #dce3ee;
}
.rivet-theme .has-event .pika-button,
.rivet-theme .is-selected .pika-button {
  background-color: #006298;
  border-color: #006298;
  box-shadow: none;
  color: #fff;
  font-weight: 400;
}
.rivet-theme .pika-table thead,
.rivet-theme .pika-table thead tr {
  border-bottom: none;
}
.rivet-theme .pika-table td.is-today .pika-button {
  color: #006298;
  background-color: #dce3ee;
}
.rivet-theme .pika-table th {
  background-color: #fff;
  color: #333;
}
.rivet-theme .pika-table th abbr {
  text-decoration: none;
}
.rivet-theme .pika-row {
  border-bottom: none;
}
.rvt-date-input {
  display: flex;
}
.rvt-date-input__item {
  width: 100%;
  max-width: 3.5rem;
  flex-shrink: 0;
}
.rvt-date-input__item:not(:last-child) {
  margin-right: 1rem;
}
.rvt-date-input__item--year {
  max-width: 7rem;
}
.rvt-datepicker__input {
  display: flex;
  align-items: center;
  position: relative;
}
.rvt-datepicker__input input[type="text"] {
  background-color: transparent;
  padding-right: 2.5rem;
  z-index: 1;
}
.rvt-datepicker__icon {
  position: absolute;
  top: 0.7rem;
  right: 0.75rem;
  z-index: 0;
}
body,
html {
  height: 100%;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  background-color: #fafafa;
}
.rvt-header {
  border-bottom: none;
}
.siu-sticky-footer {
  display: flex;
  flex-direction: column;
}
.siu-sticky-footer .rvt-footer,
.siu-sticky-footer .rvt-header {
  flex-shrink: 0;
}
.siu-sticky-footer main {
  flex-grow: 1;
}
.siu-plain-link {
  text-decoration: none;
  color: #333;
}
.siu-plain-link:hover {
  text-decoration: underline;
}
.siu-subtle-text {
  color: #777;
}
.rvt-dropdown__menu--large {
  width: 24rem;
}
.siu-group-header {
  -webkit-appearance: none;
  background: none;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  padding-left: 0.25rem;
  line-height: 1.1;
}
.siu-group-header__icon {
  color: #999;
}
.siu-group-header:focus {
  outline: 2px solid #006298;
  outline-offset: 0.125rem;
}
.siu-group-header[aria-expanded="true"] .siu-group-header__icon {
  transform: rotate(180deg);
}
.siu-info-toggle {
  height: auto;
  padding: 0;
  line-height: 1.5;
}
.siu-wrapper--crimson .siu-info-toggle {
  color: #fff;
}
.siu-wrapper--crimson .siu-info-toggle:hover {
  color: #900;
}
.siu-wrapper--crimson .rvt-dropdown__menu a {
  color: #333;
}
.siu-calendar-contianer .pika-lendar {
  width: 100%;
}
.siu-header-menu {
  padding-right: 1rem;
}
@media screen and (min-width: 67.5em) {
  .siu-header-menu {
    padding-right: 1.5rem;
  }
}